.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 30px;
}

.griddiv {
    place-self: center stretch;
    object-fit: cover;
    vertical-align: top;
    border: 2px solid #FFF;
    border-radius: 4px;
    height: 100%;
    font-size: 1.5rem;
    letter-spacing: 2px;
    position: relative;
}

.bigPic {
    background-size: cover;
    background: url(./cool-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

button, input {
    background: #FD9191;
    margin: 10px;
    border: 2px solid #FFF;
    border-radius: 4px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.img, video, .popup {
    padding-left: 20px;
    width: 200px;
    height: 200px;

}

.mainHeader {
    position: absolute;
    right: 10px;
    top: 10px;
}

.lefttext {
    padding-left: 20px;
}

.popup-content > img {
    width: 400px;
    height: 400px;
}

.edit-button {
    position: absolute;;
    right: 10px;
    top: 10px;
}

@media all and (min-width: 480px) {
    .Login {
        height: 1000px;
        padding: 18% 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.LoginPic {
    background: url(./cool-background.png);
    background-size: cover;
    background-repeat: repeat;
    height: 1000px;
}
